<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burger}}
    <li>{{id}}: {{name}}</li>
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger-text">
  </div>

  <button type="submit" id="add-burger">Add Burger</button>
</form>